<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="代码段是一个优秀的代码分享平台, 用户可以在代码段上分享自己的代码, 查看别人优秀的代码, 甚至收藏别人的代码, 打造一个属于自己的代码库">
		<meta name="keywords" content="代码, 开发, 平台, 分享">
		<title>{% block title %}{% endblock %} - Pastebie</title>
		<link rel="shortcut icon" href="/static/images/favicon.ico') }}" />
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" media="all" href="/static/css/themes/monokai.css">
		<!--<script src="//code.jquery.com/jquery.js"></script>-->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<!--
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-33503286-1']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		-->
		{% block javascript %}{% endblock %}
	</head>
	<body>
		<div class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">代码段</a><small>v2.0</small>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="/">首页</a></li>
						<li><a href="/tags">标签</a></li>
						<li><a href="/rank">排行榜</a></li>
					</ul>
					<form action="/search" class="navbar-form navbar-left">
						<input type="text" name="keyword" placeholder="搜索代码" class="form-control col-md-10" value="" />
					</form>
					<a href="/paste/create" class="btn btn-danger navbar-left col-md-2 share-btn"><span class="plus"></span>分享我的代码</a>
					<ul class="nav navbar-nav navbar-right">
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<div id="wrviewer" class="col-md-9 bs-docs-section">{% block content %}{% endblock %}</div>
			<div id="sidebar" class="col-md-3">{% block sidebar %}{% endblock %}</div>
		</div>
		<div class="container">
			<div class="col-md-12">
			<hr />
			<p class="flink container clearfix">
				<span>
					© 2011 - 2014 <a href="/">daimaduan.com</a> All right reserved.
				</span>
				<span>
					Powered by <a href="https://github.com/kingheaven/PasteCookie">PasteCookie</a>
				</span>
				<span class="pull-right">
					<a href="/posts">开发日志</a> | 
					<a href="/rss">订阅本站</a> | 
					<a href="/page/faq">FAQ</a> | 
					<a href="/page/about">关于我们</a> | 
					<a href="/page/contact">联系我们</a>
				</span>
			</p>
			</div>
		</div>
	</body>
</html>
