{% extends 'base.html' %}
{% block title %}{{ paste.title }}{% endblock %}
{% block content %}
<div class="row col-md-12">
	<h4>
		{{ paste.title }}
		<span class="ml10 fs13 clc">by</span>
        <a href="/user/view/{{ paste.user_ref.id }}/" class="carte fs13" title="#">{{ paste.user_ref.nickname }}</a>
		<span class="ml10 fs13 clc">{{ paste.created_at }}</span>
	</h4>
	<div id="code_view" class="row col-md-12"><pre><code>{{ paste.content | safe }}</code></pre></div>
</div>
{% include 'items/_comments.html' %}
<!-- JiaThis Button BEGIN -->
<script type="text/javascript">var jiathis_config = {
			url:"/paste/view/{{ paste.key.id() }}",
			title:'我在 #代码段# 分享了 "{{ paste.title }}":'
		}</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_r.js?uid=1338135623650157&btn=r5.gif" charset="utf-8"></script>
{% endblock %}
